<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917237118311-hcio3h03oouu4uvl6fi8rnut13vc8cku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917237118311-hcio3h03oouu4uvl6fi8rnut13vc8cku</string>
	<key>API_KEY</key>
	<string>AIzaSyBuOgCzGcVS4F6UL4mSviVvLpQjNNHwVwU</string>
	<key>GCM_SENDER_ID</key>
	<string>917237118311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutter</string>
	<key>PROJECT_ID</key>
	<string>djm-project-a2f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>djm-project-a2f8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917237118311:ios:c2e8934a430d25f37dabc2</string>
</dict>
</plist>